
header {
    border-top: solid black 1pt;
    border-bottom: solid black 1pt;
    height: 55px;
    position: relative;
    display: block;
}

header * {
    display: inline;
}

header h1 {
    position: absolute;
    margin-top: 8px;
    margin-left: 25px;
    height: 100%;
}
header img
{
    margin-top: 3px;
    margin-left: 5px;
    height: 45px;
    width: 45px;
    display: inline;
}
header #b-tooltip{
    border-radius: 15px;
    padding: 10px;
    top: 30px;
    left: 60px;
    position: absolute;
    z-index: 1000;
    border: 1pt solid black;
    height: 20px;
    width: 100px;
    background-color: white;
    display: none ;
    /*
    */
}

img.title-img:hover + #b-tooltip {
        display: block;
    }

nav {
    height: 100%;
    display: inline;
}

ul{
    position: absolute;
    right: 20px;
    display: inline-block;
    height: 100%;
}
li {
    margin: 10px;
    list-style: none;
    display: inline;
    border: solid 1pt white;
    padding: 5px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
li:hover{
    border: solid 1pt black;
}


#map {height: 100%; }

body {margin:0; height: 100%;}

body>div#content {
    height: 100%
}

div.leaflet-popup-content {
    width: 220px !important;
}

html {height: 100%;}
img.chevre {
    width: 200px;
    display: block;
}
img {
    width: 400px;
    display: block;
}

img.leaflet-marker-icon {
    width: 25px !important;
    height: 25px !important;
}
